Connected Services/ISca/Object.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.sitels.ru/SCA" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Object" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.sitels.ru/SCA" location="http://msk-dev-foris:8106/SCA?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="ConfigurationService_ISca" type="i0:ISca">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNotifMessage">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotifMessage">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotifMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifMessage">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotifRulePattern">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifRulePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotifRulePattern">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotifRulePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifRulePattern">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifRulePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBlackListTd">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateBlackListTd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlackListTd">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteBlackListTd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotifDeliveryRule">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifDeliveryRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifDeliveryRule">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifDeliveryRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotifDeliveryRule">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotifDeliveryRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotifAnnouncement">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifAnnouncement">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotifAnnouncement">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotifAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotifTurnOffRule">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifTurnOffRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifTurnOffRule">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifTurnOffRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotifTurnOffRule">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotifTurnOffRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifConfig">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecalculateBalanceProfile">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/RecalculateBalanceProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifRdCounterThresholds">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/NotifRdCounterThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateServiceNumberParams">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateServiceNumberParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceNumberParams">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateServiceNumberParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceNumberParams">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteServiceNumberParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceNumbersParams">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetServiceNumbersParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncBalanceTemplateDetail">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetSyncBalanceTemplateDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSyncBalanceTemplateDetail">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteSyncBalanceTemplateDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBsReservations">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteBsReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaCodes">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetFaCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifications">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTDAttributes">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetTDAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityActions">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetActivityActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFATimeIntervals">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetFATimeIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVlrs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetVlrs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVlr">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateVlr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVlr">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateVlr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVlr">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteVlr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestNotifText">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/TestNotifText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityGroups">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetActivityGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateActivityGroup">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateActivityGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActivityGroup">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateActivityGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteActivityGroup">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteActivityGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhiteListTd">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetWhiteListTd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWhiteListTd">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateWhiteListTd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWhiteListTd">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteWhiteListTd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGprsStartData">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetGprsStartData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlackListTd">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetBlackListTd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCmrRecalcFactors">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetCmrRecalcFactors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifDeliveryRules">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifDeliveryRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifRulePatterns">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifRulePatterns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifConfig">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateServiceNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateServiceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateServiceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteServiceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyNotifTemplate">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CopyNotifTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifParamOperators">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifParamOperators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifAnnouncements">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifAnnouncements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotificationCauses">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotificationCauses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotificationCause">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotificationCause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotificationCause">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotificationCause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotifMessagePattern">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifMessagePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifMessagePattern">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotifMessagePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotifMessagePattern">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotifMessagePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifMessagePatterns">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifMessagePatterns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFaCode">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateFaCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaCode">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteFaCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifRdCounterCodesForTP">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifRdCounterCodesForTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshUserThresholdsData">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/RefreshUserThresholdsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGprsStartData">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateGprsStartData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifRdCounterThresholds">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifRdCounterThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifTurnOffRules">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifTurnOffRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFATimeInterval">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateFATimeInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFATimeInterval">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteFATimeInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifRuleConditions">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifRuleConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotifRuleConditions">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotifRuleConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncBalanceTemplate">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/SyncBalanceTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlackList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetBlackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateActivityAction">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateActivityAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActivityAction">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateActivityAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteActivityAction">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteActivityAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotification">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotification">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotification">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProvider">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProvider">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProvider">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProviderGroup">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateProviderGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProviderGroup">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteProviderGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBlackList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateBlackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlackList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteBlackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPAs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetPAs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTDs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetTDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCugs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetCugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFFNumbers">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetFFNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTariffPlans">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetTariffPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTD">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateTD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTD">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateTD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTD">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteTD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePA">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreatePA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePA">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdatePA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePA">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeletePA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCug">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateCug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCug">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateCug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCug">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteCug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFFNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateFFNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFFNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateFFNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFFNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteFFNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTariffPlan">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateTariffPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTariffPlan">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateTariffPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTariffPlan">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteTariffPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBalance">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBalance">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBalance">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalancesAndReservations">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetBalancesAndReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCcReservations">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetCcReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeShift">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetTimeShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTdsCugs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateTdsCugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTdsCugs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateTdsCugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTdsCugs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteTdsCugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTdsCugs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetTdsCugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPAAdminBlocks">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetPAAdminBlocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiaSySession">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetDiaSySession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevalidateDiaSySession">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/RevalidateDiaSySession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShutdownDiaSySession">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/ShutdownDiaSySession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderGroups">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetProviderGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhiteList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetWhiteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWhiteList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateWhiteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWhiteList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteWhiteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPAWithBalanceAndTDs">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetPAWithBalanceAndTDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortNumbers">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetShortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateShortNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateShortNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShortNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateShortNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShortNumber">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteShortNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceNumbers">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetServiceNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTdService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateTdService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTdService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteTdService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdTariffPlans">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetRdTariffPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceTemplates">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetBalanceTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceTemplatesList">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetBalanceTemplatesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPAAttributes">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetPAAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreatePaService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaService">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeletePaService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateActivity">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/CreateActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActivity">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/UpdateActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteActivity">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/DeleteActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifMessages">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetNotifMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBsReservations">
      <soap:operation soapAction="http://schemas.sitels.ru/SCA/ISca/GetBsReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Object">
    <wsdl:port name="ConfigurationService_ISca" binding="tns:ConfigurationService_ISca">
      <soap:address location="http://msk-dev-foris:8106/SCA" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>