Connected Services/ISca/SCA5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NVision.See.DataTypes.Service.Irf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NVision.See.DataTypes.Service.Irf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SyncBalanceTemplateInfo">
    <xs:sequence>
      <xs:element name="errorSourceField" nillable="true" type="xs:string" />
      <xs:element name="resultCodeField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncBalanceTemplateInfo" nillable="true" type="tns:SyncBalanceTemplateInfo" />
</xs:schema>