Connected Services/ISca/SCA7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.sitels.ru/SCA" elementFormDefault="qualified" targetNamespace="http://schemas.sitels.ru/SCA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msk-dev-foris:8106/SCA?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" />
  <xs:import schemaLocation="http://msk-dev-foris:8106/SCA?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" />
  <xs:element name="CreateNotifMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q1:NotifMessageInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifMessageResult" nillable="true" type="q2:CreateNotifMessageOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q3:NotifMessageInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotifMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q4:NotifMessageInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifRulePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q5:NotifRulePatternInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifRulePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifRulePatternResult" nillable="true" type="q6:CreateNotifRulePatternOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifRulePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q7:NotifRulePatternInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifRulePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotifRulePatternResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifRulePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q8:NotifRulePatternInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifRulePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifRulePatternResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBlackListTd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q9:BlackListTDInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBlackListTdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBlackListTdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlackListTd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q10:BlackListTDInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlackListTdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBlackListTdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifDeliveryRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q11:NotifDeliveryRuleInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifDeliveryRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifDeliveryRuleResult" nillable="true" type="q12:CreateNotifDeliveryRuleOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifDeliveryRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q13:NotifDeliveryRuleInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifDeliveryRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifDeliveryRuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifDeliveryRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q14:NotifDeliveryRuleInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifDeliveryRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotifDeliveryRuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q15:TpAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifAnnouncementResult" nillable="true" type="q16:CreateNotifAnnouncementOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q17:TpAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifAnnouncementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q18:TpAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotifAnnouncementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifTurnOffRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q19:NotifTurnOffRuleInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifTurnOffRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifTurnOffRuleResult" nillable="true" type="q20:CreateNotifTurnOffRuleOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifTurnOffRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q21:NotifTurnOffRuleInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifTurnOffRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="UpdateNotifTurnOffRuleResult" nillable="true" type="q22:UpdateNotifTurnOffRuleOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifTurnOffRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q23:NotifTurnOffRuleInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifTurnOffRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotifTurnOffRuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q24:TpConfigParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifConfigResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalculateBalanceProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q25:RecalculateBalanceProfileInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalculateBalanceProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="RecalculateBalanceProfileResult" nillable="true" type="q26:RecalculateBalanceProfileOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifRdCounterThresholds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q27:NotifRdCounterThresholdsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifRdCounterThresholdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotifRdCounterThresholdsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceNumberParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q28:TpServiceNumberParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceNumberParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateServiceNumberParamsResult" nillable="true" type="q29:CreateServiceNumberParamsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceNumberParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q30:TpServiceNumberParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceNumberParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateServiceNumberParamsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceNumberParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q31:TpServiceNumberParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceNumberParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteServiceNumberParamsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceNumbersParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceNumberParamId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceNumbersParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetServiceNumbersParamsResult" nillable="true" type="q32:GetServiceNumbersParamsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncBalanceTemplateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncBalanceTemplateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetSyncBalanceTemplateDetailResult" nillable="true" type="q33:SyncBalanceTemplateDetailOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSyncBalanceTemplateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSyncBalanceTemplateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSyncBalanceTemplateDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q34:DeleteBsReservationsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBsReservationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q35:GetFaCodesInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetFaCodesResult" nillable="true" type="q36:GetFaCodesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q37:GetNotificationsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotificationsResult" nillable="true" type="q38:GetNotificationsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTDAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdpMsisdn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTDAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetTDAttributesResult" nillable="true" type="q39:GetTDAttributesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q40:GetActivityActionsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetActivityActionsResult" nillable="true" type="q41:GetActivityActionsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFATimeIntervals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tdId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFATimeIntervalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetFATimeIntervalsResult" nillable="true" type="q42:GetFATimeIntervalsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVlrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vlrNumberPattern" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVlrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetVlrsResult" nillable="true" type="q43:GetVlrsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVlr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q44:TpVlr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVlrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateVlrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVlr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q45:TpVlr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVlrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVlrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVlr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vlrNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVlrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVlrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestNotifText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q46:PrepareMessageInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestNotifTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="TestNotifTextResult" nillable="true" type="q47:PrepareMessageOutputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q48:GetActivityGroupsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetActivityGroupsResult" nillable="true" type="q49:GetActivityGroupsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q50:TpActivityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateActivityGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q51:TpActivityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActivityGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityGroupId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivityGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhiteListTd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q52:GetWhiteListTdInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhiteListTdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetWhiteListTdResult" nillable="true" type="q53:GetWhiteListTdOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWhiteListTd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q54:TpListTdNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWhiteListTdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateWhiteListTdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWhiteListTd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q55:TpListTdNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWhiteListTdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWhiteListTdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGprsStartData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q56:GetGprsStartDataInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGprsStartDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetGprsStartDataResult" nillable="true" type="q57:GetGprsStartDataOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlackListTd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q58:GetBlackListTdInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlackListTdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetBlackListTdResult" nillable="true" type="q59:GetBlackListTdOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCmrRecalcFactors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q60:GetCrmRecalcFactorsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCmrRecalcFactorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetCmrRecalcFactorsResult" nillable="true" type="q61:GetCrmRecalcFactorsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifDeliveryRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifDeliveryRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifDeliveryRulesResult" nillable="true" type="q62:GetNotifDeliveryRulesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRulePatterns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q63:GetNotifRulePatternInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRulePatternsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifRulePatternsResult" nillable="true" type="q64:GetNotifRulePatternOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifConfigResult" nillable="true" type="q65:GetNotifConfigOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q66:TpServiceNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateServiceNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q67:UpdateServiceNumberInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="UpdateServiceNumberResult" nillable="true" type="q68:UpdateServiceNumberOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q69:DeleteServiceNumberInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteServiceNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyNotifTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q70:CopyNotifTemplateInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyNotifTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CopyNotifTemplateResult" nillable="true" type="q71:CopyNotifTemplateOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifParamOperators">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifParamOperatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifParamOperatorsResult" nillable="true" type="q72:GetNotifParamOperatorsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifAnnouncementsResult" nillable="true" type="q73:GetNotifAnnouncementsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationCauses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationCausesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotificationCausesResult" nillable="true" type="q74:GetNotificationCausesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotificationCause">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q75:CreateNotificationCauseInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotificationCauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNotificationCauseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotificationCause">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationCauseId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotificationCauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotificationCauseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifMessagePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q76:CreateNotifMessagePatternInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifMessagePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifMessagePatternResult" nillable="true" type="q77:CreateNotifMessagePatternOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifMessagePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q78:UpdateNotifMessagePatternInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifMessagePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifMessagePatternResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifMessagePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q79:DeleteNotifMessagePatternInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotifMessagePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="DeleteNotifMessagePatternResult" nillable="true" type="q80:DeleteNotifMessagePatternOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifMessagePatterns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q81:GetNotifMessagePatternsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifMessagePatternsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifMessagePatternsResult" nillable="true" type="q82:GetNotifMessagePatternsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q83:CreateFaCodeInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFaCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFaCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q84:DeleteFaCodeInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFaCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFaCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRdCounterCodesForTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tariffPlanId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRdCounterCodesForTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifRdCounterCodesForTPResult" nillable="true" type="q85:GetNotifRdCounterCodesForTPOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserThresholdsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserThresholdsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefreshUserThresholdsDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGprsStartData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q86:UpdateGprsStartDataInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGprsStartDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGprsStartDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRdCounterThresholds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q87:GetNotifRdCounterThresholdsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRdCounterThresholdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifRdCounterThresholdsResult" nillable="true" type="q88:GetNotifRdCounterThresholdsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifTurnOffRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="truleId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifTurnOffRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifTurnOffRulesResult" nillable="true" type="q89:GetNotifTurnOffRulesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFATimeInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="fati" nillable="true" type="q90:TpFaTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFATimeIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFATimeIntervalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFATimeInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="fati" nillable="true" type="q91:TpFaTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFATimeIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFATimeIntervalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRuleConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q92:GetNotifRuleConditionsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifRuleConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifRuleConditionsResult" nillable="true" type="q93:GetNotifRuleConditionsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifRuleConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q94:CreateNotifRuleConditionsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifRuleConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotifRuleConditionsResult" nillable="true" type="q95:CreateNotifRuleConditionsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncBalanceTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncBalanceTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="SyncBalanceTemplateResult" nillable="true" type="q96:SyncBalanceTemplateOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReservationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlackList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q97:GetBlackListInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlackListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetBlackListResult" nillable="true" type="q98:GetBlackListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q99:CreateActivityActionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateActivityActionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q100:UpdateActivityActionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActivityActionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q101:DeleteActivityActionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivityActionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q102:TpNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateNotificationResult" nillable="true" type="q103:CreateNotificationOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q104:TpNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotificationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q105:DeleteNotificationInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotificationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q106:TpProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q107:TpProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProviderGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q108:TpProviderGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProviderGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProviderGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProviderGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q109:TpProviderGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProviderGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProviderGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBlackList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q110:BlackListInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBlackListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBlackListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlackList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q111:BlackListInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlackListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBlackListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q112:GetPAsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetPAsResult" nillable="true" type="q113:GetPAsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q114:GetTDsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetTDsResult" nillable="true" type="q115:GetTDsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q116:GetCugsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetCugsResult" nillable="true" type="q117:GetCugsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFFNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q118:GetFFNumbersInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFFNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetFFNumbersResult" nillable="true" type="q119:GetFFNumbersOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTariffPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q120:GetTariffPlansInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTariffPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetTariffPlansResult" nillable="true" type="q121:GetTariffPlansOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q122:GetServicesInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetServicesResult" nillable="true" type="q123:GetServicesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="td" nillable="true" type="q124:TpTd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="td" nillable="true" type="q125:TpTd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tdId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="pa" nillable="true" type="q126:CreatePaInputAdditional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="pa" nillable="true" type="q127:TpPa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="cug" nillable="true" type="q128:TpCug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCugResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="cug" nillable="true" type="q129:TpCug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCugResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cugId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attrType" nillable="true" type="xs:byte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCugResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFFNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="ff" nillable="true" type="q130:TpFf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFFNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFFNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFFNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="ff" nillable="true" type="q131:TpFf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFFNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFFNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFFNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="ff" nillable="true" type="q132:TpFf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFFNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFFNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTariffPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="tariffPlan" nillable="true" type="q133:TpTariffPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTariffPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTariffPlanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTariffPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="tariffPlan" nillable="true" type="q134:TpTariffPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTariffPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTariffPlanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTariffPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tariffPlan" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTariffPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTariffPlanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="service" nillable="true" type="q135:TpService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="service" nillable="true" type="q136:TpService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="service" nillable="true" type="q137:TpService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="balanceInstance" nillable="true" type="q138:TpBalanceInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateBalanceResult" nillable="true" type="q139:CreateBalanceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q140:DeleteBalanceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBalanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q141:UpdateBalanceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="UpdateBalanceResult" nillable="true" type="q142:UpdateBalanceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalancesAndReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q143:GetBalancesAndReservationsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalancesAndReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetBalancesAndReservationsResult" nillable="true" type="q144:GetBalancesAndReservationsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCcReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q145:GetCcReservationsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCcReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetCcReservationsResult" nillable="true" type="q146:GetCcReservationsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q147:GetTimeShiftInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetTimeShiftResult" nillable="true" type="q148:GetTimeShiftOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTdsCugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="tdCug" nillable="true" type="q149:TpTdCug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTdsCugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTdsCugsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTdsCugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="tdCug" nillable="true" type="q150:TpTdCug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTdsCugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTdsCugsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTdsCugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="tdCug" nillable="true" type="q151:TpTdCug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTdsCugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTdsCugsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTdsCugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q152:GetTdsCugsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTdsCugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetTdsCugsResult" nillable="true" type="q153:GetTdsCugsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetLanguagesResult" nillable="true" type="q154:GetLanguagesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAAdminBlocks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q155:GetPaAdminBlocksInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAAdminBlocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetPAAdminBlocksResult" nillable="true" type="q156:GetPaAdminBlocksOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaSySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q157:GetDiaSySessionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaSySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetDiaSySessionResult" nillable="true" type="q158:GetDiaSySessionOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidateDiaSySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q159:DiaSySessionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidateDiaSySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevalidateDiaSySessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownDiaSySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q160:DiaSySessionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownDiaSySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShutdownDiaSySessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetProvidersResult" nillable="true" type="q161:GetProvidersOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetProviderGroupsResult" nillable="true" type="q162:GetProviderGroupsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q163:GetWhiteListInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetWhiteListResult" nillable="true" type="q164:GetWhiteListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWhiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q165:TpListNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWhiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateWhiteListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWhiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q166:TpListNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWhiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWhiteListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAWithBalanceAndTDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paNamber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAWithBalanceAndTDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetPAWithBalanceAndTDsResult" nillable="true" type="q167:GetPAWithBalanceAndTDsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q168:GetShortNumbersInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetShortNumbersResult" nillable="true" type="q169:GetShortNumbersOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShortNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q170:TpShortNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShortNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateShortNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShortNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q171:TpShortNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShortNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShortNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShortNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q172:DeleteShortNumberInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShortNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShortNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q173:GetServiceNumbersInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetServiceNumbersResult" nillable="true" type="q174:GetServiceNumbersOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTdService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q175:CreateTdServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTdServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreateTdServiceResult" nillable="true" type="q176:CreateTdServiceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTdService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q177:DeleteTdServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTdServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="DeleteTdServiceResult" nillable="true" type="q178:DeleteTdServiceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRdTariffPlans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRdTariffPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetRdTariffPlansResult" nillable="true" type="q179:GetRdTariffPlansOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetBalanceTemplatesResult" nillable="true" type="q180:GetBalanceTemplatesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceTemplatesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceTemplatesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetBalanceTemplatesListResult" nillable="true" type="q181:GetBalanceTemplatesListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetPAAttributesResult" nillable="true" type="q182:GetPAAttributesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q183:CreatePaServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="CreatePaServiceResult" nillable="true" type="q184:CreatePaServiceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q185:DeletePaServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="DeletePaServiceResult" nillable="true" type="q186:DeletePaServiceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q187:GetActivitiesInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q188:GetActivitiesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q189:TpActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateActivityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/NVision.See.Package.Sca" minOccurs="0" name="inputData" nillable="true" type="q190:TpActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActivityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityId" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q191:GetNotifMessagesInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetNotifMessagesResult" nillable="true" type="q192:GetNotifMessagesOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="inputData" nillable="true" type="q193:GetBsReservationsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/NVision.See.Package.Wcf.Sca" minOccurs="0" name="GetBsReservationsResult" nillable="true" type="q194:GetBsReservationsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>